body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  max-width: 500px;
  width: 100%;
  padding: 20px;
  padding-top: 40px; 
  background-color: #fff; 
  border-radius: 10px;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

div {
  margin-bottom: 15px;
}

label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  color: #333;
}

input, select {
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
}

input:focus, select:focus {
  border-color: #28a745;
}

button {
  padding: 10px 15px;
  background-color: #28a745; 
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #218838;
}

p {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

h2 {
  margin-top: 40px;
  color: #333;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

th {
  text-align: center; 
  font-weight: bold; 
  font-size: 1.1em; 
}

td {
  text-align: left; 
  background-color: #fff; 
}

table tr:nth-child(even) {
  background-color: #f2f2f2; 
}
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  max-width: 500px;
  width: 100%;
  padding: 20px;
  padding-top: 40px; 
  background-color: #fff; 
  border-radius: 10px;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

div {
  margin-bottom: 15px;
}

label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  color: #333;
}

input, select {
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
}

input:focus, select:focus {
  border-color: #28a745; 
}

button {
  padding: 10px 15px;
  background-color: #28a745; 
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #218838; 
}

p {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

h2 {
  margin-top: 40px; 
  color: #333;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

th {
  text-align: center; 
  font-weight: bold; 
  font-size: 1.1em;
}

td {
  text-align: left;
  background-color: #fff; 
}

table tr:nth-child(even) {
  background-color: #f2f2f2; 
}